pkgbase = openfortivpn-git
	pkgdesc = An open implementation of Fortinet's proprietary PPP+SSL VPN solution
	pkgver = 1.17.3.20220621
	pkgrel = 0
	url = https://github.com/adrienverge/openfortivpn
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = glibc
	depends = openssl
	depends = ppp
	depends = resolvconf
	depends = systemd-libs
	provides = openfortivpn=1.17.3.20220621
	conflicts = openfortivpn
	backup = etc/openfortivpn/config
	source = openfortivpn-git.tar.gz::https://github.com/adrienverge/openfortivpn/archive/8263c26822c977c2ed92f1ed6b8500067704227f.tar.gz
	sha512sums = 132c644842fe1490cb5983ca7d906c28d634f78b3273be299a8579a3337d7b03318092e9cacb3ffe198edcfae4adcf5e323756589adf5efa216a8157f807fdbc

pkgname = openfortivpn-git
